#about-body {

    background-image: url("../images/rotated-edited.jpg");

    background-size: 2000px;

    background-repeat: no-repeat;

    .order(column, center, center);
    text-align: center;

}

#aboutbackground {

    //background-image: url("../images/rotated-edited.jpg");

    background-color: white;

    border-radius: 10px;

    box-shadow: 1px 10px 10px black;

    .order(column, center, center);
    text-align: center;

    width: 65%;

    height: 700px;

    margin-top: 10%;

    @media @tablet {

        width: 100%;

    }

}

#about-content {

    //background-color: rgba(211, 211, 211, 0.5);

    padding-bottom: 5%;

    .order(column, flex-start);
    
    #mission {

        padding-bottom: 2%;

    }

    #team {

        padding-bottom: 2%;

    }

    h2 {

        margin-top: 5%;
        margin-bottom: 5%;

    }

    p {

        width: 60%;

        margin-bottom: 3%;

    }

    ul {

        .order(column, center, flex-start);

        margin-bottom: 5%;

        li {

            text-shadow: 1px 0px 1px rgb(120, 126, 125);
            margin-top: 10px;

        }

    }

    #contributors-container {

        .order(row, center, none);

        margin-bottom: 2%;

        #contributors {

            margin-right: 50px;

        }


        a {

            border: none;
            .space(0 0 0 0, 0 0 0 0);

            background-color: @text-color;
            color: white;

        }

        

        div {

            .order(column, space-around);

            padding-bottom: 13px;
            padding-top: 5px;

        }

    }

    a {

        text-decoration: none;
        color: @text-color;

        border: 3px solid @text-color;
        border-radius: 7px;
    
        .space(7px 25px 7px 25px);
    
        text-align: center;

    }

    a:hover {

        background-color: @text-color;
        color: white;

    }


}