footer {

    .space(1% 0 1% 0);
    .order();

    nav {

        width: 500px;
        .order(row, space-between, center);

        a {

            text-decoration: none;
            color: rgb(212, 212, 212);

        }

    }

}